{% extends "game.html" %}

{% block styles %}
{{ super() }}
<style>
    #containerChat{
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(34, 34, 34);
        width: 500px;

        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        padding: 20px;
    }

    #messagesWindow{
        height: 30vh;
        overflow: auto;
    }

    #leftBarBox{
        height: 100%;
        padding: 30px;
    }

    /* .missionBox{
        background-color: rgb(34, 34, 34);
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        padding: 20px;

        margin-left: auto;
        margin-right: auto;

        width: 50%;
    } */

    .missionBox{
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        margin-left: auto;
        margin-right: auto;

        max-width: 25rem;
        overflow: hidden;
    }

    #missionBoxHard{
        margin-bottom: 0;
    }

    .missionBox .card-header{
        border-radius: 15px 15px 0 0;
    }
    
    .card-title{
        text-align: center;
    }

    .card-body .btn{
        width: 100%;
        margin-top: 0;
    }

    #send-button{
        margin-top: 0;
        width: 100%;
    }

    #messageWindowInputs{
        display: flex;
        padding-top: 5px;
    }

    .containerMessageInputs{
        padding: 0;
    }
</style>
{% endblock styles %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
</script>

<!-- <div class="container col-6" id="leftBarBox">
    <div class="row missionBox">
        <h3>{{ chosen_easy.title }}</h3>
        <p>Desc: {{ chosen_easy.content }}</p>
        <p>Danger: low</p>
        <p id="easy_money: ">Money: {{ mission_handler.easy_mission_cost }}</p>
        <p id="easy_duration: ">Duration: {{ mission_handler.easy_mission_duration }}</p>
        <button type="submit" class="btn btn-primary">Accept</button>
    </div>

    <div class="row missionBox">
        <h3>{{ chosen_medium.title }}</h3>
        <p>Desc: {{ chosen_medium.content }}</p>
        <p>Danger: medium</p>
        <p id="medium_money: ">Money: {{ mission_handler.medium_mission_cost }}</p>
        <p id="medium_duration: ">Duration: {{ mission_handler.medium_mission_duration }}</p>
        <button type="submit" class="btn btn-primary">Accept</button>
    </div>

    <div class="row missionBox">
        <h3>{{ chosen_hard.title }}</h3>
        <p>Desc: {{ chosen_hard.content }}</p>
        <p>Danger: high</p>
        <p id="hard_money: ">Money: {{ mission_handler.hard_mission_cost }}</p>
        <p id="hard_duration: ">Duration: {{ mission_handler.hard_mission_duration }}</p>
        <button type="submit" class="btn btn-primary">Accept</button>
    </div>
</div> -->

<div class="container col-6" id="leftBarBox">
    <div class="card border-success mb-3 missionBox" >
        <div class="card-header">
            <h5 class="card-title">{{ chosen_easy.title }}</h5>
        </div>

        <div class="card-body">
            <p class="card-text">{{ chosen_easy.content }}</p>
            <p class="card-text">Danger: low</p>
            <p class="card-text">Money: {{ mission_handler.easy_mission_cost }}</p>
            <p class="card-text">Duration: {{ mission_handler.easy_mission_duration }}</p>
            <button type="submit" class="btn btn-outline-success">Accept</button>
        </div>
    </div>

    <div class="card border-warning mb-3 missionBox" >
        <div class="card-header">
            <h5 class="card-title">{{ chosen_medium.title }}</h5>
        </div>

        <div class="card-body">
            <p class="card-text">{{ chosen_medium.content }}</p>
            <p class="card-text">Danger: medium</p>
            <p class="card-text">Money: {{ mission_handler.medium_mission_cost }}</p>
            <p class="card-text">Duration: {{ mission_handler.medium_mission_duration }}</p>
            <button type="submit" class="btn btn-outline-warning">Accept</button>
        </div>
    </div>

    <div class="card border-danger mb-3 missionBox" id="missionBoxHard">
        <div class="card-header">
            <h5 class="card-title">{{ chosen_hard.title }}</h5>
        </div>

        <div class="card-body">
            <p class="card-text">{{ chosen_hard.content }}</p>
            <p class="card-text">Danger: high</p>
            <p class="card-text">Money: {{ mission_handler.hard_mission_cost }}</p>
            <p class="card-text">Duration: {{ mission_handler.hard_mission_duration }}</p>
            <button type="submit" class="btn btn-outline-danger">Accept</button>
        </div>
    </div>
</div>

<div class="container col-6 rightBarBox">
    {% block chatBox %}
    <div class="container" id="containerChat">
        <div class="container" id="messagesWindow">

        </div>
        <div id="messageWindowInputs">
            <div class="container col-3 containerMessageInputs">
                <button class="btn btn-primary" id="send-button" onclick="addMessage();">Send</button>
            </div>
            <div class="container col-9 containerMessageInputs">
                <input type="text" id="message-input" class="form-control" maxlength="500">
            </div>
        </div>
    </div>
    {% endblock chatBox %}

    <script>
    var currentUserID = {{ current_user.id }};
    var lastMessageID = null;
    const messagesWindow = document.getElementById('messagesWindow');

    {% raw %}

    var loadMessagesTimeout = null;

    function loadMessages() {
        clearTimeout(loadMessagesTimeout);

        $.ajax({
            url: "/chat",
            type: "GET",
            dataType: "json",
            data: {
                'message_id': lastMessageID
            },
        })
        .done(function( data ) {
            jQuery.each(data, function() {
                lastMessageID = this.id;
                appendMessageToChatWindow(
                    this.id,
                    this.username,
                    this.content,
                    (currentUserID == this.user_id ? true : false)
                )
                $('#messagesWindow').scrollTop($('#messagesWindow')[0].scrollHeight);
            });
            loadMessagesTimeout = setTimeout(loadMessages, 100);
        })
        .fail(function( xhr, status, errorThrown ) {
            alert("Cannot load messages.");
        });
    }

    function appendMessageToChatWindow(messageID, username, content){
        $('#messagesWindow').append(`<div id="message-${messageID}">
                                    <p>${username}: ${content}</p>
                                    </div>`)
    }

    function addMessage() {
        let content = $('#message-input').val();
        if (content) {
            console.log(`Adding message: ${content}`);
        } else {
            alert("No message given.");
            return false;
        }

        $.ajax({
            url: "/chat",
            type: "POST",
            data: JSON.stringify({
                'content': content
            }),
            contentType: "application/json",
        })
        .done(function( data ) {
            $('#message-input').val('');
        })
        .fail(function( xhr, status, errorThrown ) {
            alert("Cannot add message.");
        });
    }

    $().ready(function() {
        loadMessages();


        $('#easy_money').text();
        $('#medium_money').text(40);
        $('#hard_money').text(40);
    });

    {% endraw %}
    </script>
</div>

{% endblock content %}