{% extends "game.html" %}

{% block styles %}
{{ super() }}
<style>
    /* overwrite default bg */
    #bg{
        background-image: url("{{url_for('static', filename='character_bg.png')}}");
    }

    #leftCharacterBox{
        height: 100%;
        text-align: center;

        padding-top: 2%;
    }

    #image{
        padding: 0;
        height: 100%;

        margin-top: auto;
        margin-bottom: 0;
        overflow: hidden;

        display: flex;
    }

    #spriteCharacter{
        width: auto;
        height: 100%;

        margin-right: auto;
        margin-left: auto;

        object-fit: cover;
    }

    #containerCharacter {
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        background: rgb(34, 34, 34);
        padding: 20px;
        width: 30%;
        min-width: 250px;
        height: auto;
    }

    .characterStatsBox{
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        margin-left: auto;
        margin-right: auto;

        max-width: 20rem;
        overflow: hidden;

        text-align: center;
    }

    .characterStatsBox .card-header{
        border-radius: 15px 15px 0 0;
    }

    .spriteStats{
        height: auto;
        width: 40%;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container col-6" id="leftCharacterBox">
    <div id="image">
        {% if character.level == 1 %}
            <img src="{{url_for('static', filename='character1.png')}}" alt="Character" id="spriteCharacter">
        {% elif character.level == 2 %}
            <img src="{{url_for('static', filename='character2.png')}}" alt="Character" id="spriteCharacter">
        {% else %}
            <img src="{{url_for('static', filename='character3.png')}}" alt="Character" id="spriteCharacter">
        {% endif %}
    </div>
</div>

<div class="container col-6">
    <div class="card border-secondary mb-3 characterStatsBox">
        <div class="card-header">
            <h5 class="card-title">{{ character.name }}</h5>  
        </div>
        <div class="card-body">
            <p class="card-text">Health: {{ character.current_health }}/{{ character.max_health }} HP</p>
            <p class="card-text">Money: {{ character.money }} Credits</p>
        </div>
    </div>

    <div class="card border-secondary mb-3 characterStatsBox">
        <div class="card-header">
            <h5 class="card-title">Weapon: {{ character.luck }} lvl</h5>
        </div>
        <div class="card-body">
            {% if character.luck == 1 %}
                <img src="{{url_for('static', filename='test.jpg')}}" alt="Weapon lvl 1" class="spriteStats">
            {% elif character.luck == 2 %}
                <img src="{{url_for('static', filename='test2.jpg')}}" alt="Weapon lvl 2" class="spriteStats">
            {% else %}
                <img src="{{url_for('static', filename='test3.png')}}" alt="Weapon lvl 3" class="spriteStats">
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-3 characterStatsBox">
        <div class="card-header">
            <h5 class="card-title">Armor: {{ character.armor }} lvl</h5>
        </div>
        <div class="card-body">
            {% if character.armor == 1 %}
                <img src="{{url_for('static', filename='test.jpg')}}" alt="Armor lvl 1" class="spriteStats">
            {% elif character.armor == 2 %}
                <img src="{{url_for('static', filename='test2.jpg')}}" alt="Armor lvl 2" class="spriteStats">
            {% else %}
                <img src="{{url_for('static', filename='test3.png')}}" alt="Armor lvl 3" class="spriteStats">
            {% endif %}
        </div>
    </div>

    <div class="card border-secondary mb-3 characterStatsBox">
        <div class="card-header">
            <h5 class="card-title">Spaceship: {{ character.speed }} lvl</h5>
        </div>
        <div class="card-body">
            {% if character.speed == 1 %}
                <img src="{{url_for('static', filename='test.jpg')}}" alt="Spaceship lvl 1" class="spriteStats">
            {% elif character.speed == 2 %}
                <img src="{{url_for('static', filename='test2.jpg')}}" alt="Spaceship lvl 2" class="spriteStats">
            {% else %}
                <img src="{{url_for('static', filename='test3.png')}}" alt="Spaceship lvl 3" class="spriteStats">
            {% endif %}
        </div>
    </div>

    <!-- <div class="container-sm" id="containerCharacter">
        <p>Name: {{ character.name }}</p>
        <p>Level: {{ character.level }}</p>
        <p>Health: {{ character.current_health }}/{{ character.max_health }}</p>
        <p>Money: {{ character.money }}</p>
        <p>Speed: {{ character.speed }}</p>
        <p>Armor: {{ character.armor }}</p>
        <p>Luck: {{ character.luck }}</p>
    </div> -->
</div>
{% endblock content %}