{% extends "base.html" %}

{% block styles %}
<style>
    #bg {
        background-image: url("{{url_for('static', filename='main_bg.png')}}");
        background-clip: border-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        width: 100vw;
        height: 100vh;
    }

    /* #main_bg_img {
        width: 178vh;
        height: 100vh;
        object-fit: cover;         
  	    object-position: 100% 0;  
  	    object-position: 0 100%;
    } */

    /* #body {
        position: relative;
        width: 200px;
        height: 100px;
    }
    #body::before {
        position: absolute;
        content: '';
        z-index: -1;
        background-image: url("{{url_for('static', filename='main_bg.png')}}");
    } */

    #login_box {
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        /* border-color: rgb(92, 92, 92); */
        border-width: thick;

        background: rgb(34, 34, 34);
        padding: 20px;
        width: 30%;
        height: 25%;

        position: relative;
        top: 50%;
        bottom: 50%;
        left: 0;
        right: 0;
    }

    .hexagon {
        background-image: none;
        width: 100px;
        height: 60px;
        background: #9980fa;
        position: relative;
    }

    .hexagon:before {
        content: '';
        position: absolute;
        top: -30px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 30px solid #9980FA;
    }

    .hexagon:after {
        content: '';
        position: absolute;
        bottom: -30px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 30px solid #9980FA;
    }
</style>
{% endblock styles %}

{% block body %}
    <div class="containter-fluid" id="bg">
        <div class="container-sm" id="login_box">
            <label class="col-form-label" for="inputEmail">Email</label>
            <input type="text" class="form-control" placeholder="email@example.com" id="inputEmail">

            <label class="col-form-label" for="inputPassword">Password</label>
            <input type="text" class="form-control" placeholder="password" id="inputPassword">

            <button type="submit" class="btn btn-primary">Login</button>

            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
{% endblock body %}
