{% extends "base.html" %}

{% block styles %}
<style>
    #bg{
        /* default bg that will be overwritten */
        background-image: url("{{url_for('static', filename='bar_bg.png')}}");
        background-clip: border-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
        width: 100vw;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #containerNavbar{
        background-color: rgb(34, 34, 34);
        margin-left: 0;
        margin-right: 0;
        height: 100%;
        width: 200px;

        border-right: solid;
        border-color: rgb(39, 48, 57);
        border-width: thick;
    }

    #navbarButtons{
        height: 100%;

        min-height: 300px;
    }

    #content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-item{
        margin-left: auto;
        margin-right: auto;
    }

    .btn{
        margin-top: 30px;
        width: 150px;
    }
</style>
{% endblock styles %}

{% block body %}
<div class="containter-fluid" id="bg">
    <div class="container" id="containerNavbar">
        <ul class="nav flex-column" id="navbarButtons">
            <li class="nav-item">
                <a href="{{ url_for('bp_game.character_get') }}">
                    <button type="button" class="btn btn-secondary">Character</button>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('bp_game.shop_get') }}">
                    <button type="button" class="btn btn-secondary">Shop</button>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('bp_game.bar_get') }}">
                    <button type="button" class="btn btn-secondary">Canteen</button>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('bp_game.settings_get') }}">
                    <button type="button" class="btn btn-secondary">Settings</button>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ url_for('bp_auth.logout_get') }}">
                    <button type="button" class="btn btn-secondary" id="buttonLogout">Logout</button>
                </a>
            </li>
        </ul>
    </div>

    <div class="container-fluid" id="content">
        {% block content %}

        {% endblock content %}
    </div>
</div>
{% endblock body %}
