{% extends "auth.html" %}

{% block styles %}
{{ super() }}
<style>
    #buttonLogin {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        display:block;

        width: 100%;
        max-width: 200px;
    }

    #linkRegister{
        text-align: center;
        margin: 0;
    }

</style>
{% endblock styles %}

{% block form %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
<form action="#" method="post">
    <label class="col-form-label" for="inputEmail">Email</label>
    <input type="email" class="form-control" placeholder="Email@example.com" id="inputEmail" name="email">

    <label class="col-form-label" for="inputPassword">Password</label>
    <input type="password" class="form-control" placeholder="Password" id="inputPassword" name="password">

    <div class="field">
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>
    </div>

    <button type="submit" class="btn btn-primary" id="buttonLogin">Sign In</button>

    <p id="linkRegister">
        Don't Have an Account?
        <a href="{{ url_for('bp_auth.register_get') }}">Sign up</a>
    </p>
</form>
{% endblock form %}