{% extends "auth.html" %}

{% block styles %}
{{ super() }}
<style>
    #buttonRegister {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display:block;

        width: 100%;
        max-width: 200px;
    }

    #linkLogin{
        text-align: center;
        margin: 0;
    }
</style>
{% endblock styles %}

{% block form %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
    <div class="{% if category == "info"%} alert alert-success {% else %} alert alert-danger {% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}

{% if form.errors %}
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<form action="#" method="post">
    {{ form.csrf_token }}

    {{ form.name.label(class_="col-form-label") }}
    {{ form.name(class="form-control", placeholder="nickname") }}

    {{ form.email.label(class_="col-form-label") }}
    {{ form.email(class="form-control", placeholder="email@example.com") }}

    {{ form.password.label(class_="col-form-label") }}
    {{ form.password(class="form-control", placeholder="password") }}

    {{ form.password_confirm.label(class_="col-form-label") }}
    {{ form.password_confirm(class="form-control", placeholder="confirm password") }}

    <button type="submit" class="btn btn-primary" id="buttonRegister">Sign Up</button>

    <p id="linkLogin">
        Already Have an Account?
        <a href="{{ url_for('bp_auth.login_get') }}">Sign in</a>
    </p>
</form>
{% endblock form %}