{% extends "game.html" %}

{% block styles %}
{{ super() }}
<style>
    #settingsBox{
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        background: rgb(34, 34, 34);
        padding: 20px;
        width: 50%;
        min-width: 250px;
        height: auto;
    }

    #buttonSubmit{
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        display:block;

        width: 100%;
        max-width: 200px;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="card" id="settingsBox">
    <div class="card-body">
        <h5 class="card-title">Settings</h5>

        {% with messages = get_flashed_messages(with_categories=true, category_filter=["name_info", "name_error"]) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "name_info" or category == "name_error" %}
                    <div class="{% if category == "name_info"%} alert alert-success {% elif category == "name_error"%} alert alert-danger {% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('bp_game.change_name') }}" method="post">
            {{ name_form.csrf_token }}
            {{ name_form.name.label(class_="col-form-label") }}
            {{ name_form.name(class="form-control", placeholder=current_user.name) }}
            {{ name_form.submit(class="btn btn-primary") }}
        </form>

        {% with messages = get_flashed_messages(with_categories=true, category_filter=["email_info", "email_error"]) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "email_info" or category == "email_error" %}
                    <div class="{% if category == "email_info"%} alert alert-success {% elif category == "email_error"%} alert alert-danger {% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('bp_game.change_email') }}" method="post">
            {{ email_form.csrf_token }}
            {{ email_form.email.label(class_="col-form-label") }}
            {{ email_form.email(class="form-control", placeholder=current_user.email) }}
            {{ email_form.submit(class="btn btn-primary") }}
        </form>

        {% with messages = get_flashed_messages(with_categories=true, category_filter=["password_info", "password_error"]) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "password_info" or category == "password_error" %}
                    <div class="{% if category == "password_info"%} alert alert-success {% elif category == "password_error"%} alert alert-danger {% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form action="{{ url_for('bp_game.change_password') }}" method="post">
            {{ password_form.csrf_token }}
            {{ password_form.password.label(class_="col-form-label") }}
            {{ password_form.password(class="form-control", placeholder="password") }}

            {{ password_form.new_password.label(class_="col-form-label") }}
            {{ password_form.new_password(class="form-control", placeholder="new password") }}

            {{ password_form.new_password_confirm.label(class_="col-form-label") }}
            {{ password_form.new_password_confirm(class="form-control", placeholder="confirm password") }}
            {{ password_form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock content %}