{% extends "game.html" %}

{% block styles %}
{{ super() }}
<style>
    /* overwrite default bg */
    #bg{
        background-image: url("{{url_for('static', filename='shop_bg.png')}}");
    }

    #shopBox{
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        background: rgb(34, 34, 34);
        padding: 20px;
        width: 70%;
        min-width: 250px;
        height: auto;
    }

    #image{
        height: 80%;
        padding: 0;

        margin-top: auto;
        margin-bottom: 0;
        overflow: hidden;
    }

    #spriteShopkeeper{
        width: auto;
        height: auto;

        margin-right: auto;
        margin-left: auto;
    }

    #shopkeeperMessage{
        border-style: solid;
        border-radius: 25px;
        border-color: rgb(39, 48, 57);
        border-width: thick;

        background: rgb(255, 255, 255);
        padding: 20px;
        width: 50%;
        min-width: 250px;
        height: 20%;
        
        margin-left: auto;
        margin-right: auto;

        align-content: center;
    }

    #leftShopBox{
        height: 100%;
        text-align: center;
        padding-top: 2%;
    }

    .shopButtons{
        align-content: center;
    }

    .textShop{
        text-align:center;
        margin: auto;
    }

    .btn-primary{
        margin: 10px;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
    }

    p{
        margin-bottom: 0;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container col-6" id="leftShopBox">
    <div class="row" id="shopkeeperMessage">
        <h1 class="text-secondary"><b>I hate css man...</b></h1>
    </div>
    <div class="row" id="image">
        <img src="{{url_for('static', filename='shopkeeper.png')}}" alt="Shopkeeper" id="spriteShopkeeper">
    </div>
</div>

<div class="container col-6">
    <div class="container" id="shopBox">
        <div class="row">
            <div class="container col-6"> 
                <p>{{ current_user.currentHealth }}/{{ current_user.maxHealth }} hp</p>
            </div>
            <div class="container col-6"> 
                <p>{{ current_user.money }}$</p>
            </div>         
        </div> 

        <div class="row">
            <div class="container col-6 shopButtons">
                <a href="/shop/heal" class="{% if heal_btn  %}{% else %}disabled{% endif %}">
                    <button class="btn btn-primary" id="buttonBuyHealth" {% if heal_btn  %}{% else %}disabled{% endif %}>Heal me</button>
                </a>
            </div>
            <div class="container col-6 textShop"> 
                <p>{{ cost.heal }} $</p>
            </div>         
        </div> 
        
        <div class="row">
            <div class="container col-6 shopButtons">
                <a href="/shop/upgrade_weapon" class="{% if upgrade_weapon_btn  %}{% else %}disabled{% endif %}">
                    <button class="btn btn-primary" id="buttonBuySpeed" {% if upgrade_weapon_btn  %}{% else %}disabled{% endif %}>Upgrade my weapon</button>
                </a>
            </div>
            <div class="container col-6 textShop"> 
                <p>{{ cost.upgrade_weapon }}$</p>
            </div>         
        </div> 

        <div class="row">
            <div class="container col-6 shopButtons">
                <a href="/shop/upgrade_armor" class="{% if upgrade_armor_btn  %}{% else %}disabled{% endif %}">
                    <button class="btn btn-primary" id="buttonBuyArmor" {% if upgrade_armor_btn  %}{% else %}disabled{% endif %}>Upgrade my armor</button>
                </a>
            </div>
            <div class="container col-6 textShop"> 
                <p>{{ cost.upgrade_armor }} $</p>
            </div>         
        </div> 

        <div class="row">
            <div class="container col-6 shopButtons">
                <a href="/shop/upgrade_ship" class="{% if upgrade_ship_btn  %}{% else %}disabled{% endif %}">
                    <button class="btn btn-primary" id="buttonBuyLuck" {% if upgrade_ship_btn  %}{% else %}disabled{% endif %}>Upgrade my ship</button>
                </a>
            </div>
            <div class="container col-6 textShop"> 
                <p>{{ cost.upgrade_ship }} $</p>
            </div>         
        </div>      
    </div>
</div>
{% endblock content %}